@font-face {
    font-family: 'Lato Regular-custom';
    src: url('/templates/future/fonts/lato-custom/LatoCustom-Regular.eot');
    src: url('/templates/future/fonts/lato-custom/LatoCustom-Regular.eot?#iefix') format('embedded-opentype'),
    url('/templates/future/fonts/lato-custom/LatoCustom-Regular.woff') format('woff'),
    url('/templates/future/fonts/lato-custom/LatoCustom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    } 

 @font-face {
        font-family: 'Lato Regular-custom';
        src: url('/templates/future/fonts/lato-custom/LatoCustom-Bold.eot');
        src: url('/templates/future/fonts/lato-custom/LatoCustom-Bold.eot?#iefix') format('embedded-opentype'),
        url('/templates/future/fonts/lato-custom/LatoCustom-Bold.woff') format('woff'),
        url('/templates/future/fonts/lato-custom/LatoCustom-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        }

